* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

form {
  width: 100%;
}

.formulario {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.formulario-campos {
  width: 100%;
  border: 1px solid black;
}

.campos-division {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.formulario-campos .campos-division input {
  width: 100%;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  outline: none;
}

.formulario-campos .campos-division datalist {
  width: 100%;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
}

.formulario-campos .campos-division textarea {
  width: 100%;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
}

.formulario-campos .campos-division .check {
  width: 10%;
  height: 30px;
}

.formulario-campos .campos-division .boton {
  border: 3px red solid;
  color: white;
  background-color: black;
  border-radius: 0;
  width: 20%;
  transition: all 0.3s ease-in;
}

.formulario-campos .campos-division .boton:hover {
  background: transparent;
  color: black;
  border: 3px grey solid;
  cursor: pointer;
}
